@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
body {
    margin: 0;
    padding: 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB, #1E90FF);
}
.container {
    display: flex;
    gap: 8%;
    flex-wrap: wrap;
    min-width: 10%;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    
}
@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    .imagem{
        width: 160px;
    }
}
.moni1 {
    flex: 1;
    min-width: 100px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

.login {
    display: grid;
    align-items: center;
    align-content:  space-around;
    justify-items: center;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    box-shadow: 3px 2px 11px rgba(0, 0, 0, 0.623);
    width: 50vh;
    background-color: rgb(217, 247, 248);
    
}
.login h1 {
    font-family: 'Englebert', sans-serif;

}
input {
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    background-color: transparent;
    height: 25px;
    outline: none;    
    max-width: 100%; /* O conteúdo não pode exceder a largura da div */
    max-height: 25px;
    min-width: 100%;
}
button {
    width: 100px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.295);
}
hr {
    width: 90%;
}
a {
    text-decoration: none;
    color: black;
    margin: 5px;
    font-size: 14px;
}
a:hover {
    transition: 0.3s;
    font-size: 16px;
}