@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-image: url(imagem/Sem\ título.png);
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}
h1 {
    text-align: center;
    text-shadow: 3px 5px 15px rgba(0, 0, 0, 0.589);
}
#container {
    margin-left: 30px;
    border: solid 2px;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.116);
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.801);
}
nav {
    background-color: rgba(0, 193, 252, 0.24);
    text-align: center;
    min-width: 200px;
    display: flex;    
}
nav>a {
    width: 100%;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
nav>a:hover {
    transition: .5s;
    background-color: rgb(3, 108, 139);
    color: white;
    padding: 7px;
    border-radius: 20px;
}
p {
    font-size: larger;
}
#txt1, #txt2 {
    width: 200px;
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px;
}
#ico {
    font-size: larger;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}
a:hover {
    transition: .5s;
    color: darkslategrey;
}
#butto {
    font-size: large;
    background-color: transparent;
    border: none;
}
#butto:hover {
    transition: .5s;
    cursor: pointer;
    font-size: larger;
    padding: 10px;
    color: blue;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* altura do footer */
}